*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    border: 2px solid #272727;
    width: 30%;
    height: 30vh;
    margin: 10px;
    background-color: #D0B3B7;
    border-radius: 20px;
    box-shadow: -3px 4px 7px 4px rgba(0,0,0,0.1);
}
.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 30vh;
}
.card-title{
    padding: 20px;
    font-size: 30px;
    color: #272727;
}
.card-description{
    color: #6D6C75;
}