.blogCardContainer{
    width: 500px;
    height: 30vh;
    background-color: bisque;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    background-color: #a3ced6;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
span{
    margin-top: 50px;
}